.body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 14px 24px;
    font-size: 24px;
    border: none !important;
    outline: none !important;
    border-radius: 20px;
    background: white;
}