.body {
background-color: beige;
box-sizing: border-box;
min-height: 100vh;
}
.heading {
    font-size: xx-large;
    color: midnightblue;
    text-align: center;
}
.intro {
    font-size: larger;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 5%;
}
.menu {
    position:absolute;
    left: 0;
    right: 0;
    background-color: midnightblue;
    padding: 0 15%;
    display: flex;
    z-index: 1000;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}
